@model GGCharityWebRole.ViewModels.EventViewModel

<h1><img src="@Model.Event.IconUrl" width="128" height="128" />@Model.Event.WelcomeString</h1>
<span class="label"><a href="@Model.Event.Game.Website">@Model.Event.Game.Name</a></span>
<p class="lead">Registration is open now!  Play from @Html.TimeInUserTimeZone(Model.Event.LiveStart) to @Html.TimeInUserTimeZone(Model.Event.EventEnd)</p>
<p>
    @Html.Partial("EventDetailsButton", Model.Event)
    @Html.Partial("EventRegistrationButton", Model.Event)
</p>